[submodule "External/JUCE"]
	path = External/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "External/melatonin_inspector"]
	path = External/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
